= image_tag @user.gravatar_url

%p
  %b Username:
  =h @user.username

%p
  %b Email:
  =h @user.email

= link_to "Edit", edit_user_path(@user) if current_user? @user
%br
= link_to "Back", users_path
